html {
    color-scheme: dark;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #100530;
    font-size: 1rem;
    margin: 0;
    padding: 0;

}

header {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    background-color: #10053050;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.banner {
    width: 100%;
    max-width: 1400px;
    padding: 0;
    display: grid;
    box-shadow: 0;
    min-height: 64px;
    top: 0;
    right: 0;
    grid-template-columns: 140px 1fr 140px;
    align-items: center;
    align-self: center;
}

.banner-list {
    align-items: center;
}

.banner-link {
    color: #ffffff;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    text-align: center;
}

.banner-button {
    color: #ffffff;
    border: 0;
    padding: 8 8;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.5;
    align-items: center;
}

.top {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(45deg, #000530 0%, #4005dd 100%);
    z-index: 1;
}


/* Waves */
.ocean {
    height: 400px; /* change the height of the waves here */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}
  
.wave {
    z-index: 100;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23100530'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 15%;
    animation: wave 20s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    bottom: 0;
}
  
.wave:nth-of-type(2) {
    animation: wave 15s linear reverse infinite;
    opacity: 0.5;
    height: 20%;
}
  
.wave:nth-of-type(3) {
    animation: wave s 30-1s linear infinite;
    opacity: 0.3;
    height: 25%;
}
  
@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

header.Solid {
    background-color: aqua;
}